<launch>
    <arg name="camera_name"   default="front_center"/>
    <arg name="video_device"  default="/dev/video0"/>
    <arg name="frame_rate"    default="10"/>
    <arg name="gpio_pin"      default="18"/>
    <arg name="phase"         default="0"/>

    <group ns="camera">
        <node name="$(arg camera_name)" pkg="usb_cam" type="usb_cam_node" output="screen">
            <param name="video_device"  value="$(arg video_device)"/>
            <param name="image_width"   value="1920"/>
            <param name="image_height"  value="1280"/>
            <param name="pixel_format"  value="uyvy"/>
        </node>

        <include file="$(find jetson_camera_trigger)/launch/jetson_camera_trigger.launch">
            <arg name="namespace"     value="$(arg camera_name)"/>
            <arg name="gpio_pin"      value="$(arg gpio_pin)"/>
            <arg name="phase"         value="$(arg phase)"/>
            <arg name="frame_rate"    value="$(arg frame_rate)"/>
        </include>
    </group>

</launch>
